* filter=lfs diff=lfs merge=lfs -text
source/_posts/** filter=lfs diff=lfs merge=lfs -text
*.psd filter=lfs diff=lfs merge=lfs -text
\# filter=lfs diff=lfs merge=lfs -text
示例：仅跟踪 filter=lfs diff=lfs merge=lfs -text
PSD filter=lfs diff=lfs merge=lfs -text
文件 filter=lfs diff=lfs merge=lfs -text
